NFe Manager/ViewModel/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50325/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:complexType name="AcceptRejectResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Status" type="q1:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcceptRejectResult" nillable="true" type="tns:AcceptRejectResult" />
</xs:schema>