CONTMATIC/PlanoContas/Service References/Service/PlanoContas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Webservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContaContabil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaContabil" nillable="true" type="tns:ContaContabil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaContabil" nillable="true" type="tns:ArrayOfContaContabil" />
  <xs:complexType name="ContaContabil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContaAntiga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reduzida" type="xs:int" />
      <xs:element minOccurs="0" name="ReduzidaAntiga" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContaContabil" nillable="true" type="tns:ContaContabil" />
  <xs:complexType name="ArrayOfParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participante" nillable="true" type="tns:Participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipante" nillable="true" type="tns:ArrayOfParticipante" />
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
  <xs:complexType name="ArrayOfLancamentoFluxoCaixa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LancamentoFluxoCaixa" nillable="true" type="tns:LancamentoFluxoCaixa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLancamentoFluxoCaixa" nillable="true" type="tns:ArrayOfLancamentoFluxoCaixa" />
  <xs:complexType name="LancamentoFluxoCaixa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCDebito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conciliacao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emissao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Faturamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDLancamento" type="xs:int" />
      <xs:element minOccurs="0" name="Lancamento" type="xs:int" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Parcela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parcelas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorBaixa" type="xs:float" />
      <xs:element minOccurs="0" name="Vencimento" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LancamentoFluxoCaixa" nillable="true" type="tns:LancamentoFluxoCaixa" />
</xs:schema>